html {
    width: 100vw;
}

html,
body {
    text-align: center;
    color: #ffffff;
    margin: 0;
}

body {
    height: 100%;
    font-family: 'Poppins', sans-serif;
}

::-moz-selection,
::selection {
  background: #ffffff;
}

h1, h2 {
    margin: 0;
}

header {
    box-sizing: border-box;
    height: 16vh;
    position: fixed;
    top: 0px;
    width: 100%;
}

header h1 {
    font-size: 3vh;
    white-space: nowrap;
}

header .upper{
    background-color: rgba(206, 206, 206, 0.42);
    backdrop-filter: blur(1px);
    height: 50%;
    width: 100%;
}

header .lower {
    height: 50%;
    width: 100%;
    padding: 20px;
}

#title {
    color: black;
    display: inline;
    float: none;
    padding: 1.5vh;
    position: absolute;
    text-align: center;
    top: 0;
    transform: translate(-50%, 0%);
}

#info {
    height: 34px;
    width: 34px;
}

#info:hover {
    fill: rgb(0, 255, 186);
    cursor: pointer;
}

.info path {
    fill: inherit;
    width: auto;
}

.buttons {
    align-items: flex-end;
    bottom: 55px;
    display: flex;
    justify-content: space-between;
    left: 0px;
    right: 0px;
    list-style: none;
    margin: 0px auto;
    max-width: 800px;
    padding: 0px;
    pointer-events: none;
    position: absolute;
}

.button {
    backdrop-filter: blur(2px);
    border-radius: 5px;
    border: 1px solid rgb(0, 255, 186);
    color: #ffffff;
    font-size: 21px;
    font-weight: 500;
    line-height: 30px;
    margin: 0px 10px;
    pointer-events: all;
    text-decoration: none;
    transition: all 0.8s ease .2s;
    width: 100px;
}

.button > * {
    color: inherit;
    display: block;
    width: 100%;
}

.button a {
    color: inherit;
    text-decoration: none;
}

.button:hover {
    min-width: 100px;
    width: fit-content;
    height: fit-content;
}

.button:hover .button-description {
    visibility: visible;
}

.button:hover .button-title {
    background: rgb(0, 255, 186);
}

.button:hover .dropup {
    display: block;
}

.button-description {
    /* transition: 1000ms; */
    left: -100%;
    margin: 0px auto;
    position: absolute;
    right: -100%;
    bottom: -45px;
    visibility: hidden;
    white-space: nowrap;
    width: fit-content;
}

.dropup {
    border-radius: 5px 5px 0px 0px;
    bottom: 40px;
    display: none;
    margin: auto auto;
    width: 100%;
    z-index: 1;
    scrollbar-color: #ffffff #00000000;
    max-height: 65vh;
    overflow-x: hidden;
    overflow-y: auto;
}

.dropup a {
    padding: 10px;
    display: block;
}

.dropup a:hover {
    background-color: rgb(0, 255, 186);
}

footer {
    bottom: 0px;
    box-sizing: border-box;
    position: absolute;
    padding: 20px;
    pointer-events: none;
}

#github-icon i{
    float: left;
    height: 100%;
    pointer-events: all;
}

#github-icon:visited, #github-icon:link{
    color: black;
}

#github-icon:hover {
    color: rgb(0, 255, 186);;
}
